In [1]:
import pandas as pd
import numpy as np
from my_functions import bed_bath_rating, cols_to_drop, missing_room_count

In [2]:
hawaii = pd.read_csv('data/listings_hawaii.csv')

hawaii.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,5269,Rental unit in Kamuela · ★4.65 · 1 bedroom · 1...,7620,Lea & Pat,Hawaii,South Kohala,20.027400,-155.702000,Entire home/apt,144,5,27,2023-03-31,0.18,4,180,7,119-269-5808-01R
1,81566,Rental unit in Haleiwa · ★4.67 · 2 bedrooms · ...,442490,Susan,Honolulu,North Shore Oahu,21.589247,-158.111008,Entire home/apt,250,4,260,2023-06-08,1.76,1,249,15,ta-020-657-9712-01
2,5387,Rental unit in Captain Cook · ★4.65 · Studio ·...,7878,Edward,Hawaii,South Kona,19.430810,-155.880690,Entire home/apt,105,5,208,2023-05-20,1.28,3,151,15,NaN
3,81582,Home in Pāhoa · ★4.94 · 2 bedrooms · 3 beds · ...,442698,Elizabeth,Hawaii,Puna,19.434280,-155.216090,Entire home/apt,119,2,181,2023-06-03,1.27,2,69,54,STVR-19-355130
4,300379,Rental unit in Honolulu · ★4.58 · 1 bedroom · ...,677327,Richard,Honolulu,Primary Urban Center,21.301450,-157.844130,Private room,81,3,237,2023-05-19,1.72,37,118,20,NaN

In [3]:
hawaii_df = bed_bath_rating(hawaii)
hawaii_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,bath
0,5269,Rental unit in Kamuela · ★4.65 · 1 bedroom · 1...,7620,Lea & Pat,Hawaii,South Kohala,20.027400,-155.702000,Entire home/apt,144,...,2023-03-31,0.18,4,180,7,119-269-5808-01R,4.65,1,1,1
1,81566,Rental unit in Haleiwa · ★4.67 · 2 bedrooms · ...,442490,Susan,Honolulu,North Shore Oahu,21.589247,-158.111008,Entire home/apt,250,...,2023-06-08,1.76,1,249,15,ta-020-657-9712-01,4.67,2,2,1
2,5387,Rental unit in Captain Cook · ★4.65 · Studio ·...,7878,Edward,Hawaii,South Kona,19.430810,-155.880690,Entire home/apt,105,...,2023-05-20,1.28,3,151,15,NaN,4.65,0,2,1
3,81582,Home in Pāhoa · ★4.94 · 2 bedrooms · 3 beds · ...,442698,Elizabeth,Hawaii,Puna,19.434280,-155.216090,Entire home/apt,119,...,2023-06-03,1.27,2,69,54,STVR-19-355130,4.94,2,3,1
4,300379,Rental unit in Honolulu · ★4.58 · 1 bedroom · ...,677327,Richard,Honolulu,Primary Urban Center,21.301450,-157.844130,Private room,81,...,2023-05-19,1.72,37,118,20,NaN,4.58,1,1,1

In [4]:
hawaii_df = cols_to_drop(hawaii_df)
hawaii_df.head()

,id,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,rating,bedrooms,beds,bath
0,5269,7620,Lea & Pat,Hawaii,South Kohala,20.027400,-155.702000,Entire home/apt,144,5,27,0.18,4,180,7,4.65,1,1,1
1,81566,442490,Susan,Honolulu,North Shore Oahu,21.589247,-158.111008,Entire home/apt,250,4,260,1.76,1,249,15,4.67,2,2,1
2,5387,7878,Edward,Hawaii,South Kona,19.430810,-155.880690,Entire home/apt,105,5,208,1.28,3,151,15,4.65,0,2,1
3,81582,442698,Elizabeth,Hawaii,Puna,19.434280,-155.216090,Entire home/apt,119,2,181,1.27,2,69,54,4.94,2,3,1
4,300379,677327,Richard,Honolulu,Primary Urban Center,21.301450,-157.844130,Private room,81,3,237,1.72,37,118,20,4.58,1,1,1

In [5]:
missing_room_count(hawaii_df)

                 room_type  bedrooms  beds  bath
room_type
Entire home/apt          0         0     0     0
Hotel room               0         0     0     0
Private room             0         0     0     0
Shared room              0         0     0     0

In [6]:
hawaii_df['neighbourhood'], hawaii_df['neighbourhood_group'] = hawaii_df['neighbourhood_group'], hawaii_df['neighbourhood']

hawaii_df.head()

,id,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,rating,bedrooms,beds,bath
0,5269,7620,Lea & Pat,South Kohala,Hawaii,20.027400,-155.702000,Entire home/apt,144,5,27,0.18,4,180,7,4.65,1,1,1
1,81566,442490,Susan,North Shore Oahu,Honolulu,21.589247,-158.111008,Entire home/apt,250,4,260,1.76,1,249,15,4.67,2,2,1
2,5387,7878,Edward,South Kona,Hawaii,19.430810,-155.880690,Entire home/apt,105,5,208,1.28,3,151,15,4.65,0,2,1
3,81582,442698,Elizabeth,Puna,Hawaii,19.434280,-155.216090,Entire home/apt,119,2,181,1.27,2,69,54,4.94,2,3,1
4,300379,677327,Richard,Primary Urban Center,Honolulu,21.301450,-157.844130,Private room,81,3,237,1.72,37,118,20,4.58,1,1,1

In [7]:
hawaii_df.drop(columns=['neighbourhood'], inplace=True)

hawaii_df.head()

,id,host_id,host_name,neighbourhood_group,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,rating,bedrooms,beds,bath
0,5269,7620,Lea & Pat,South Kohala,20.027400,-155.702000,Entire home/apt,144,5,27,0.18,4,180,7,4.65,1,1,1
1,81566,442490,Susan,North Shore Oahu,21.589247,-158.111008,Entire home/apt,250,4,260,1.76,1,249,15,4.67,2,2,1
2,5387,7878,Edward,South Kona,19.430810,-155.880690,Entire home/apt,105,5,208,1.28,3,151,15,4.65,0,2,1
3,81582,442698,Elizabeth,Puna,19.434280,-155.216090,Entire home/apt,119,2,181,1.27,2,69,54,4.94,2,3,1
4,300379,677327,Richard,Primary Urban Center,21.301450,-157.844130,Private room,81,3,237,1.72,37,118,20,4.58,1,1,1

In [8]:
hawaii_df.to_csv('data/listings_hawaii_clean.csv', index=False)